{% extends 'msgapp/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 30px">
            <form action="{% url 'breastscreening' %}" method="post">
                {% csrf_token %}
                <h4 style="text-align:center;color:green;margin-top:0;margin-bottom:1em;">
                    Breast Cancer Screening Numbers</h4>
                
                <div class="form-group row">
                    <label for="id_person" class="col-2 col-form-label">Person_id</label>
                    <div class="col-10">
                        <input name="person" class="form-control" type="number" id="id_person"
                               style="margin-left:4em;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="encounter_datetime" class="col-2 col-form-label">encounter_datetime</label>
                    <div class="col-10">
                        <input name="encounter_datetime" class="form-control" type="date" id="encounter_datetime"
                               style="margin-left:4em;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Location</label>
                    <div class="col-10">
                        <input name="location" class="form-control" type="text" style="margin-left:4em;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">First_Name</label>
                    <div class="col-10">
                        <input name="fname" class="form-control" type="text" style="margin-left:4em;">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Last_Name</label>
                    <div class="col-10">
                        <input name="lname" class="form-control" type="text" style="margin-left:4em;">
                    </div>
                </div>
                <div class="form-group row col-10">
                    <label for="Gender"
                           style="margin-right:7em;" name="gender">Gender</label>
                    <div>
                        <input type="radio" id="male" name="gender" value="male"><label for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female"><label for="female">Female</label>
                        <input type="radio" id="other" name="gender" value="Other" checked><label
                            for="other">Other</label>
                    </div>
                </div>
                <div class="form-group row col-10">
                    <label name="type_of_abnormality" for="example-email-input" style="margin-right:4em;">Type_of_abnormality</label>
                    <select name="type_of_abnormality" style="margin-right:4em;">
                        <option selected>Choose here</option>
                        <option value="breast lumps">breast lumps</option>
                        <option value="breast discharge">breast discharge</option>
                        <option value="dense nodularity">dense nodularity</option>
                    </select>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Age</label>
                    <div class="col-10">
                        <input name="age" class="form-control" type="number" style="margin-left:4em;">
                    </div>
                </div>

                <div class="pull-right">
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>

            </form>
        </div>
    </div>

</div>
{% endblock %}