{% extends 'msgapp/base.html' %}
{% load static %}

{% block content %}
<h1> BreastScreening {{ message1.id }}</h1>

        <ul>
           Hi {{ message1.lname }},
            the {{ message1.encounter_type }} test which you took on {{ message1.encounter_datetime }} at {{ message1.location }}
            Hospital is out. Please find time and visit our oncology clinic at {{ message1.location }} hospital from tomorrow to collect your results.
            For queries, please call +254788888888
        </ul>
{% endblock %}
